.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chart-container {
  width: 600px;
  margin-bottom: 20px;
}

.word-frequency-table {
  background-color: #f3f4f7;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.word-frequency-table th {
  background-color: #86a4ef;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.word-frequency-table td {
  padding: 10px;
}

.word-frequency-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.word-frequency-table tr:hover {
  background-color: #ddd;
}

.submit-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.submit-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-button:hover span {
  padding-right: 25px;
}

.submit-button:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 50%;
  right: -20px;
  transition: 0.5s;
}

.submit-button:hover:after {
  opacity: 1;
  right: 0;
}

.export-button {
  background-color: #fc0404;
  border: none;
  color: #f3f1f1;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.export-button:hover {
  background-color: #3e8e41;
  color: #ffffff;
}

.back-button {
  background-color: #fc0404;
  border: none;
  color: #f3f1f1;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.back-button:hover {
  background-color: #3e8e41;
  color: #ffffff;
}
